@font-face {
    font-family: Aileron-Black;
    src: url(\assets\fonts\Aileron-Black.otf) format('otf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

h1 {
    /* font-family: Georgia, serif; */
    font-family: Aileron-Black, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

.gradient-background {
    background: linear-gradient(300deg, #053d8b, #298bc8, #5cd5e8);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    } }

.nav-img {
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.navbar {
    background-color: #053d8b;
}

.navbar-brand {
    color: white;
    pointer-events: none;
}

.nav-link{
    color: white;
}

.hero-img {
    border-radius: 50%;
    height: 300px;
    width: 300px;
    filter: drop-shadow(0 0 .75rem #053d8b);
}

.btn-resume {
    background-color: #053d8b;
    color: white;
}

.btn-resume:hover {
    background-color: #032e6b;
    color: white;
}

.about-img {
    border: solid 5px #053d8b;
    filter: drop-shadow(0 0 .75rem #053d8b);
}

.footer-items {
    width: 30px;
}

.footer-icons {
    color: white;
}

#resume {
    background-color: whitesmoke;

}

#contact {
    background-color: #053d8b;
}
